:root {
  --m-color: #33e5d9;
  --s-color: #111;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  overflow-x: hidden;
}
.container {
  width: 90%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
header {
  position: relative;
  width: 100vw;
  height: 100vh;
}
header > img {
  position: absolute;
  width: 1500px;
  top: -480px;
  right: -450px;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
header nav .logo {
  font-weight: bold;
  font-size: 23px;
}
header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
  color: #fff;
  z-index: 99;
}
header nav ul li a {
  font-size: 15px;
  color: #fff;
}
header nav ul li:last-child {
  background-color: #fff;
  padding: 5px 20px;
  border-radius: 20px;
}
header nav ul li:last-child a {
  color: var(--m-color);
}
header nav .menu {
  cursor: pointer;
  display: none;
  transition: 0.5s ease-in-out;
}
header nav .menu span {
  display: block;
  width: 30px;
  height: 4px;
  border-radius: 30px;
  background-color: #fff;
  margin-bottom: 5px;
  position: relative;
}
header nav .menu.open span:first-child {
  transform: rotate(45deg);
  transform-origin: 3px 4px;
  transition: 0.3s;
}
header nav .menu.open span:nth-child(2) {
  visibility: hidden;
}
header nav .menu.open span:last-child {
  transform: rotate(-45deg);
  transform-origin: 4px 0px;
  transition: 0.3s;
}
header .bg {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 160px 0;
  justify-content: space-between;
}
header .dot {
  position: absolute;
  right: 80px;
  top: 150px;
  animation: updown 11s ease infinite forwards;
}
header .dot img {
  width: 15px;
}
header .dashed {
  position: absolute;
  top: 100px;
  left: -100px;
}
header .dashed img {
  width: 150px;
}
header .social {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  right: 80px;
  top: 400px;
}
header .social img {
  width: 20px;
}
header .dashed {
  animation: lright 11s ease-in-out infinite forwards;
}
header .bg .dots span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--m-color);
  margin-right: 5px;
}
header .bg .text {
  flex-basis: 100%;
  color: rgb(49, 49, 49);
}
header .bg .text .title {
  font-size: 30px;
  font-weight: 600;
  margin: 30px 0;
}
header .bg .text .title span {
  font-weight: 800;
  font-size: 35px;
}
header .bg .text .btn1 {
  background-color: var(--m-color);
  padding: 15px 23px;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  width: fit-content;
  display: inline-block;
  margin: 20px 0;
  cursor: pointer;
}
header .bg .text .btn2 {
  padding: 15px 23px;
  font-weight: 500;
  width: fit-content;
  display: inline-block;
  margin: 20px 50px;
  background-color: transparent;
  padding: 15px 23px;
  color: var(--m-color);
  border: 2px solid var(--m-color);
  cursor: pointer;
}
header .bg .background {
  text-align: right;
}
header .bg .background img {
  width: 70%;
  z-index: 66;
  position: relative;
}
header .ec {
  position: absolute;
  top: 600px;
  right: 50%;
}
header .ec img {
  width: 200px;
}
@keyframes updown {
  0% {
    top: 150px;
  }
  50% {
    top: 200px;
  }
  100% {
    top: 100px;
  }
}
@keyframes lright {
  0% {
    top: 100px;
  }
  50% {
    top: 160px;
    left: -50px;
  }
}
.sh {
  font-weight: bold;
  font-size: 30px;
  color: var(--s-color);
  position: relative;
  width: fit-content;
  padding: 20px 0;
}
.sh::after {
  content: "";
  background-image: url("imgs/dott.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 165px;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
/* --------------------------------ABOUT */
.about {
  margin: 200px 0;
  height: 1200px;
}

.about .abouts {
  margin: 100px 0 0;
  position: relative;
}
.about .abouts .image {
  position: absolute;
  left: -70%;
  top: -260px;
}
.about .abouts .image img {
  width: 1700px;
}
.about .abouts .text {
  position: absolute;
  right: 100px;
  width: 500px;
  top: 200px;
}
.about .abouts .text h1 {
  font-size: 30px;
  color: var(--s-color);
  margin: 30px 0;
}
.about .abouts .text p {
  color: var(--s-color);
  font-size: 19px;
  margin-bottom: 40px;
}
.about .abouts .text .btn {
  background-color: var(--m-color);
  padding: 15px 23px;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  width: fit-content;
  display: inline-block;
  margin: 20px 0;
  cursor: pointer;
}
.about .abouts .cir {
  position: absolute;
  top: -130px;
  right: 100px;
}
.about .abouts .cir img {
  width: 300px;
}
.about .abouts .cir2 {
  position: absolute;
  top: 700px;
  right: 100px;
}
.about .abouts .cir2 img {
  width: 300px;
}

/* --------------------------service */

.service {
  margin: 200px 0;
}
.service .text {
  margin: 50px 0;
  color: var(--s-color);
}
.service .text h3 {
  margin: 10px 0;
}
.service .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}
.service .boxes .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  border: 2px solid var(--m-color);
  border-radius: 10px;
  padding: 0 20px;
  height: 140px;
  transition: 0.2s;
}
.service .boxes .box .icon {
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgb(175, 175, 175);
  display: flex;
  align-items: center;
  justify-content: center;
}
.service .boxes .box .icon img {
  width: 30px;
}
.service .boxes .box .text .h {
  font-size: 15px;
  font-weight: bold;
  color: var(--m-color);
}
.service .boxes .box .text .P {
  font-size: 14px;
  color: var(--m-color);
}

.service .boxes .box:hover {
  background-color: var(--m-color);
}
.service .boxes .box:hover .h,
.service .boxes .box:hover .P {
  color: #fff;
}
.service .boxes .box:hover .icon {
  background-color: #fff;
}
.service .container .l {
  color: var(--m-color);
  float: right;
  font-weight: bold;
  margin: 20px 0;
  cursor: pointer;
}

/* ----------------------testimonials */

.testi h3 {
  color: var(--s-color);
  margin: 50px 0 10px;
}

.testi .testimonials {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 50px;
  margin: 100px 0;
}
.testi .testimonials .center {
  flex-basis: 60%;
  background-color: var(--m-color);
  color: #fff;
  padding: 40px 50px;
  height: 220px;
  border-radius: 20px;
  position: relative;
  min-width: 450px;
}
.testi .testimonials .left,
.testi .testimonials .right {
  padding: 40px 50px;
  height: 160px;
  border-radius: 20px;
  color: var(--m-color);
  border: 2px solid var(--m-color);
  font-size: 14px;
  position: relative;
  min-width: 400px;
}
.testi .testimonials .left::before,
.testi .testimonials .right::before,
.testi .testimonials .center::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 70px;
  border: 4px solid #fff;
  border-radius: 50%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
}
.testi .testimonials .left::before {
  background-image: url("imgs/img1.png");
}
.testi .testimonials .center::before {
  background-image: url("imgs/img2.png");
}
.testi .testimonials .right::before {
  background-image: url("imgs/img3.png");
}
.testi .stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin: 30px auto;
}
.testi .stats .stt {
  font-weight: bold;
  color: var(--m-color);
}
.testi .stats img {
  width: 50px;
  cursor: pointer;
}
.policy {
  margin: 200px 0;
  position: relative;
}
.policy h3 {
  margin: 30px 0 10px;
}
.policy .im {
  position: absolute;
  right: -40%;
}
.policy .im img {
  width: 1100px;
}
.policy .rules {
  display: flex;
  align-items: center;
  gap: 70px;
  margin: 70px 0;
}
.policy .rules .checks {
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.policy .rules .checks img {
  width: 25px;
  flex-shrink: 0;
}

.policy .rules .line img {
  width: 6px;
}
.policy .rules .checks .check {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  width: 600px;
}

.register h3 {
  margin: 20px 0 10px;
}
.register {
  position: relative;
  height: 1200px;
}
.register .im {
  position: absolute;
  left: -400px;
  top: 300px;
}
.register .im img {
  width: 900px;
}

.register .forms {
  width: 500px;
  background-color: rgba(238, 238, 238, 0.116);
  position: absolute;
  right: 200px;
  top: 300px;
  border-radius: 50px;
  border: 2px solid var(--m-color);
  padding: 20px 50px;
  overflow: hidden;
}
.register .forms .l,
.register .forms .re {
  font-size: 15px;
  font-weight: 500;
  color: var(--m-color);
  display: inline-block;
  margin-bottom: 60px;
  cursor: pointer;
}
.register .forms .l {
  float: right;
  position: relative;
}
.register .forms .re {
  position: relative;
}

.register .forms .re.active::before {
  left: 555%;
}
.register .forms .re::before {
  content: "";
  width: 80%;
  height: 5px;
  background-color: var(--m-color);
  border-radius: 10px;
  position: absolute;
  left: 50%;
  bottom: -8px;
  transition: 0.5s;
  transform: translateX(-50%);
}
.register .forms input {
  width: 100%;
  margin: 15px 0;
  padding: 15px 0 15px 30px;
  border-radius: 10px;
  border: 1px solid var(--m-color);
  position: relative;
}
.register .forms input:focus {
  outline: none;
}
.register .forms .form1,
.register .forms .form2 {
  width: 400px;
  transition: 0.5s;
}
.register .forms input::placeholder {
  font-size: 11px;
  color: var(--m-color);
  font-weight: 500;
}

.register .forms .terms {
  display: flex;
  align-items: center;
  gap: 16px;
}
.register .forms .terms .ff img {
  width: 17px;
}
.register .forms .terms p {
  font-size: 14px;
  color: var(--m-color);
  font-weight: 400;
}
.register .forms button {
  width: 100%;
  padding: 15px;
  color: #fff;
  background-color: var(--m-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px 0;
}
.register .formscontainer {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 1500px;
  transition: 0.5s;
}

.register .formscontainer.active {
  transform: translateX(-462px);
}

.foot {
  background-color: var(--m-color);
}

.foot .footgrides{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
.foot .grid{
    padding: 20px 0;
   
}
.foot .grid .h2{
    color: #fff;
    margin: 30px 0;
    font-size: 18px;
    font-weight: bold;
}
.foot .grid .pack{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 20px 0;
    color: #fff;
}
.foot .grid .pack img{
    width: 27px;
}
.foot .grid input{
    border: none;
    background-color: #fff;
    padding: 12px 0 12px 30px;
    border-radius: 30px;
    width: 100%;
}
.foot .container hr{
    height:2px;
    background-color: #fff;
    border: none;
    margin: 30px 0;
    border-radius: 50px;
    
}
.foot .container  p.rights{
    color: #fff;
    text-align: center;
    font-size: 15px;
}


















/* RESPONSIVE:----------------->>>>>>>>> */
@media (max-width: 1000px) {
  html {
    overflow-x: hidden;
  }

  header nav .menu {
    display: block;
  }
  header img.bck {
    display: none;
  }
  header {
    background: linear-gradient(to bottom, var(--m-color), rgb(112, 236, 188));
  }
  header nav .logo {
    color: #fff;
  }
  header nav ul {
    position: fixed;
    width: 100%;
    flex-direction: column;
    height: 80%;
    gap: 0;
    background-color: #fff;
    position: absolute;
    top: 60px;
    right: -100%;
    transition: 0.5s;
  }
  header nav ul.opened {
    right: 0;
  }
  header nav ul li {
    background-color: rgb(62, 63, 63);
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header nav {
    margin: 0;
    padding: 20px 10px;
  }
  header .bg {
    flex-direction: column;
    gap: 60px;
  }
  header .bg .text .title,
  header .bg .text .sub {
    font-size: 15px;
    color: #fff;
  }
  header .bg .text .title span {
    font-size: 30px;
    display: block;
  }
  header .dot {
    display: none;
  }
  header .social {
    display: none;
  }
  header .bg .background {
    text-align: center;
    width: 130%;
  }
  header .bg .text .btn2,
  header .bg .text .btn1 {
    border: 2px solid #fff;
    color: #fff;
    margin: 20px 0;
  }
  header .ec {
    display: none;
  }

  .about .abouts .text {
    top: 0;
    left: 0;
    width: 350px;
  }

  .about .abouts .image {
    left: -324px;
    top: 400px;
    position: relative;
  }
  .about .abouts .image img {
    width: 600px;
  }
  .about .abouts .text h1 {
    font-size: 20px;
  }
  .about .abouts .text p {
    font-size: 16px;
  }
  .service .boxes {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .testi .testimonials {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .testi .testimonials .left,
  .testi .testimonials .center,
  .testi .testimonials .right {
    min-width: 350px;
    min-height: 250px;
  }
  .policy .container {
    height: 1400px;
  }
  .policy .im {
    bottom: 0;
    left: 140px;
  }
  .policy .im img {
    width: 600px;
  }
  .policy .rules .line {
    display: none;
  }
  .policy .rules .check p {
    font-size: 11px;
    width: 300px;
  }
  .register .im img {
    display: none;
  }
  .register .forms {
    width: 370px;
    left: 50%;
    transform: translateX(-50%);
    top: 220px;
  }
  .register .forms .form1,
  .register .forms .form2 {
    width: 300px;
  }
  .register .forms .formscontainer {
    gap: 100px;
  }
  .register .forms .formscontainer.active {
    transform: translateX(-425px);
  }
}
